*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container1{
    display: flex;
    gap: 100px;
    margin: 120px;
    justify-content: space-around; 
    align-items: center;
    width: 70vw;
}
.card{
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
    transition: transform 1.2s;
}
.card:hover{
    transform: translateY(10px);
}
.outer-container{
    height: 100%;
    width: 100vw;
}
