body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #1a73e8; */
    margin: 0;
}
.card-container {
    display: flex;
    gap: 20px;
}
.card {
    width: 18rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-primary {
    background-color: #1a73e8;
    border-color: #1a73e8;
}
.btn-primary:hover {
    background-color: #155ab6;
    border-color: #155ab6;
}

.card-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10%;
    row-gap: 15%;
    margin-right: 10%;
   
}

.meeting{
    /* background-color: #1a73e8; */
}